.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "content"
    "sidebar"
}

@media screen and (min-width: 60em) {
  .blog-grid {
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
      "content sidebar"
  }
}
