// Fonts Setup

$display-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font: $display-font;

body {
  font-size: 1rem;
  font-family: $body-font;
  color: $dark;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* "Typography" styles.
 *
 * These hit all elements inside something tagged typography,
 * so it ends up being really handy for, say, markdown. */

.typography {
  h1, h2, h3, h4, h5, h6, blockquote, q,
  p, ul {
    padding: 0 .5rem;
    margin: 0 0 $medium 0;
    display: block;
  }

  img, .gatsby-highlight {
    width: 100%;
    margin: 0 0 $medium 0;
    display: block;
  }

  p {
    font-family: inherit;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
  }

  a {
    color: $rose;
  }

  blockquote {
    font-style: italic;
    text-align: center;
  }

  pre, code {
    font-size: $medium;
  }

  pre {
    padding: $small;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }

  li {
    list-style-position: inside;
    margin-bottom: $small;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    max-width: 16rem;
  }
}
