/* Style "resets" */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #1d2d3d;
}

h1, h2, h3, h4, h5, h6, {
  line-height: 1.1;
}

ul {
  list-style: circle;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  color: #f15d6d;
}

hr {
  border: 0;
  border-bottom: 1px solid #bbb;
}

/* Grid setup. */
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .5fr 1fr;
  grid-template-areas: "sidebar content";
}
.sidebar {
  grid-areas: sidebar;
}
.content {
  grid-areas: content;
}

/* Header Styles */

.title, .subtitle {
  margin: 0;
}

.tracked {
  letter-spacing: .1rem;
  margin: .5rem 0 1rem 0;
}

/* Block level elements */
.block {
  margin: 2.5rem 0;
}

/* Keeps margin at the top of the page */
.block--first {
  margin: 0 0 2.5rem 0;
}

.block--first h1, .block--first h2, .block--first h3 {
  margin-top: 0;
}

.block--last {
  margin-bottom: 0;
}

.noprint {
  display: none;
}
