@import '../utils/spacing';

.blog-post {
  margin: 0 0 $large 0;
  text-align: center;
}

.blog-post__image {
  margin-bottom: $medium;
}

.blog-post__title {
  text-align: left;
  text-decoration: none;
  display: block;
  margin-bottom: $medium;
  padding: 0 $small;
}

.blog-post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $medium;
  padding: 0 $small;
}

.blog-post__content {
  text-align: left;
}
