.button {
  padding: $medium 5rem;
  text-decoration: none;
  transition: .2s ease;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: $extra-small;
  cursor: pointer;

  &--cta {
    // Call to action button with a cute gradient.
    @extend .button;
    background-image: $secondary-gradient;
    color: white;
    box-shadow: $glow;
    margin: $large $small;

    &:hover {
      color: #ffffffdd;
      transform: translateY(-3px);
      box-shadow: $glow, 0 6px 9px rgba($dark, .25);
    }
  }
}

@each $color, $hex in $colors {
  .button--#{$color} {
    @extend .button;
    color: $hex;
    border: 1px solid $hex;
    background-color: rgba($hex, 0);
    &:visited {
      color: $hex;
    }
    &:hover {
      background-color: rgba($hex, .3);
    }
  }
}
