@import './utils/spacing';
@import './utils/colors';

.button {
  padding: $medium 5rem;
  text-decoration: none;
  transition: .2s ease;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 2px;
}

@each $color, $hex in $colors {
  .button--#{$color} {
    @extend .button;
    color: $hex;
    border: 1px solid $hex;
    &:visited {
      color: $hex;
    }
    &:hover {
      background-color: rgba($hex, .3);
    }
  }
}
