@import './utils/spacing';
@import './utils/colors';

.button {
  padding: $medium $large;
  text-decoration: none;
  transition: .1s ease;
  display: inline-block;
}

@each $color, $hex in $colors {
  .button--#{$color} {
    @extend .button;
    color: $hex;
    border: 1px solid $hex;
    font-weight: 600;
    &:visited {
      color: $hex;
    }
    &:hover {
      background-color: $hex;
      color: white;
    }
  }
}
