.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 84rem;
  margin: 0 auto;
  padding: $large $small;
  font-size: 1rem;
  &__links {
    width: 100%;
    max-width: 24em;
    text-align: center;
  }
  &__link, &__link:visited {
    display: block;
    padding: $small 0;
    color: inherit;
  }
}
