.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem $small;
  position: relative;
  text-align: center;
  @media screen and (min-width: 60em) {
    padding: 10rem $small;
  }
  &:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: linear-gradient(to top, black, gray);
    opacity: .3;
    z-index: -1;
  }
  &__text {
    color: #fefefe;
    z-index: 1;
  }
  &__image {
    position: absolute !important;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
