.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $light;
  min-height: 5rem;
  &__group {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid $light;
    padding: .25rem 1rem;
    border-radius: .25rem;
    margin: 0 .5rem;
    font-size: 1rem;
    cursor: pointer;
    &--active {
      background: $secondary-gradient;
      box-shadow: $glow;
      color: white;
      border: 0;
    }
  }
  &__menu {
    position: fixed;
    width: 0;
    max-width: 36rem;
    height: 100vh;
    top: 0;
    right: 0;
    transition: .5s all ease;
    background-color: $white;
    padding: $small;
    display: none;
    z-index: 100;
    &--active {
      display: block;
      width: 100%;
      box-shadow: 0 0 8px rgba($dark, .3);
    }
  }
}
