.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $light;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }

  &__group {
    display: flex;
    justify-content: center;
    @include responsive("medium") {
      width: 100%;
    }
  }

  &__buttons {
    display: none;
    @include responsive("large") {
      display: flex;
    }
  }

  &__link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid $light;
    padding: .25rem 1rem;
    border-radius: .25rem;
    margin: 0 .5rem;
    font-size: 1rem;
    cursor: pointer;

    &--active {
      background: $secondary-gradient;
      box-shadow: $glow;
      color: white;
      border: 0;
    }
  }

  &__menu {
    position: fixed;
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: $white;
    padding: 5rem $small $small $small;
    display: none;
    z-index: 90;
    overflow: scroll;

    &--active {
      display: block;
      width: 100%;
    }

    &__items {
      max-width: 48rem;
      margin: auto;
    }

    &__title {
      text-align: center;
      padding: $small;
    }
  }
}
