.article p {
  margin: 1.5rem 0 1.5rem 0
}

.article a {
  color:  #FF725C; 
}

.article blockquote {
  font-family: serif;
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
}

.article pre {
  background-color: #eee;
  white-space: pre-wrap;
  padding: .5rem;
  word-wrap: break-word;
}

.article code {
  font-size: .9rem;
  white-space: pre-wrap;
}

.article code span {
  background-color: transparent !important;
}
